<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace = 接口的全限定符-->
<mapper namespace="com.atguigu.mapper.ScheduleMapper">
    <select id="queryList" resultType="schedule">
        select * from schedule
    </select>

    <delete id="deleteById">
        delete * from schedule where id = #{id}
    </delete>

    <insert id="insert">
        insert into schedule(title, completed) values(#{title},#{completed})
    </insert>

    <update id="updateById">
        update schedule set title = #{title}, completed = #{completed} where id = #{id}
    </update>

</mapper>